body {
    background-color: rgb(253, 215, 245);
}



p {
 color: rgb(0, 0, 0);
 font-family:'Times New Roman', Times, serif;
 margin: 2px;
}
i {margin: 2px}


#cats {
    display: flex;
    flex-direction: column;
}




img {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    border: 1px solid black;
}
